<form [formGroup]="form" (submit)="submit(form.value)">
  <div uk-grid class="uk-child-width-1-1">
    <label>
      <input class="uk-checkbox" type="checkbox" formControlName="1990">
      1990
    </label>
    <label>
      <input class="uk-checkbox" type="checkbox" formControlName="1991">
      1991
    </label>
    <label>
      <input class="uk-checkbox" type="checkbox" formControlName="1992">
      1992
    </label>
    <label>
      <input class="uk-checkbox" type="checkbox" formControlName="1993">
      1993
    </label>
    <label>
      <input class="uk-checkbox" type="checkbox" formControlName="1994">
      1994
    </label>
    <label>
      <input class="uk-checkbox" type="checkbox" formControlName="1995">
      1995
    </label>
    <label>
      <input class="uk-checkbox" type="checkbox" formControlName="1996">
      1996
    </label>
    <label>
      <input class="uk-checkbox" type="checkbox" formControlName="1997">
      1997
    </label>
    <label>
      <input class="uk-checkbox" type="checkbox" formControlName="1998">
      1997
    </label>
    <label>
      <input class="uk-checkbox" type="checkbox" formControlName="1998">
      1998
    </label>
    <label>
      <input class="uk-checkbox" type="checkbox" formControlName="1999">
      1999
    </label>
  </div>

  <button class="uk-button uk-button-large uk-align-right uk-margin-small">Apply</button>
</form>